<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font linking -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Manrope:wght@200..800&family=Qwigley&family=Reenie+Beanie&family=Water+Brush&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Manrope:wght@200..800&family=Qwigley&family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Manrope:wght@200..800&family=Qwigley&display=swap" rel="stylesheet">
    <!-- style css files -->
    <link rel="stylesheet" href="style.css">
    <title>Blog</title>
</head>
<body>
    <!-- this will be the navigation bar -->
    <div class="navbar">
        <div class="logo">
            <a href="#">
                <img src="ninlg.svg" alt="Logo">
            </a>
        </div>
        <div class="nav-items">
            <div><a href="#">Home</a></div>
            <div><a href="/compose">Write</a></div>
            <div><a href="#blogs">Blogs</a></div>
            <div><a href="https://divyanshmalani.com" target="_blank">Portfolio</a></div>
        </div>
    </div>
    

    <!-- site logo design -->
     
    <div class="container">
        <div class="top-text">
            <span>From: divyanshmalani.com</span>
            <span>To: You</span>
        </div>
        <div class="main-text">BLOG<BR>NINJA</div>
        <div class="arrow">⬆⬆</div>
        <div class="rotated-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta maiores obcaecati, <u>comme tu te appele</u> , je suis tone pere , tu es mon chien, nos ami quo dolores itaque assumenda perspiciatis! Expedita provident, unde consequatur non minima <i><b>architecto necessitatibus minus</b></i> dignissimos tempore praesentium<b> voluptas fugiat non minima </b>architecto necessitatibus minus dignissimos tempore praesentium voluptas <b>fugiat ringar shringar tangar </b>sta.Soluta maiores obcaecati, quo dolores itaque assumenda perspiciatis! Expedita provident, <u><b>unde singulture as.</b></u>
        </div>
        <div class="free-delivery">Inspire Action</div>
    </div>
    

  

<section id="blogs">
    <div class="blogs-header">
        <h2>Posted Blogs</h2>
    </div>
    <div class="blogs-container">
        <% if (blogs.length === 0) { %>
            <p>No blogs yet. Start posting!</p>
        <% } else { %>
            <% blogs.forEach((blog, index) => { %>
                <div class="blog-entry">
                    <a href="/blog/<%= index %>" target="_blank" class="blog-link">
                        <h3><%= blog.title %></h3>
                    </a>
                    <!-- Action buttons for delete and edit -->
                    <div class="action-buttons">
                        <!-- Delete Icon -->
                        <form action="/delete-blog/<%= index %>" method="POST" class="action-form">
                            <button type="submit" class="icon-button" id="delete-button">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                                    <path d="M3 6l3 12a2 2 0 002 1h8a2 2 0 002-1l3-12H3zm7 9H8v-5h2v5zm4 0h-2v-5h2v5zm5-13h-3.5l-1-1h-6l-1 1H4v2h16V2z" fill="black" />
                                </svg>
                            </button>
                        </form>
                        <!-- Edit Icon -->
                        <a href="/edit-blog/<%= index %>" class="icon-button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                                <path d="M14.06 3.94l6 6-10 10H4v-6l10-10zM4 21h16v2H4v-2z" fill="black" />
                            </svg>
                        </a>
                    </div>
                </div>
            <% }); %>
        <% } %>
    </div>
</section>
    
    
    <%# Footer goes here%>

    <footer>
        <span>&copy; Divyansh Malani <%= new Date().getFullYear() %></span>
        <div class="social-icons">
            <a href="https://github.com/itzdiv" target="_blank" aria-label="GitHub">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                    <path d="M12 1C5.373 1 0 6.373 0 13c0 5.302 3.438 9.8 8.207 11.387.6.11.793-.261.793-.579v-2.234c-3.338.726-4.042-1.608-4.042-1.608-.546-1.388-1.333-1.757-1.333-1.757-1.09-.745.083-.73.083-.73 1.203.084 1.837 1.237 1.837 1.237 1.07 1.835 2.807 1.304 3.492.996.107-.774.419-1.305.762-1.605-2.665-.3-5.466-1.334-5.466-5.932 0-1.311.469-2.384 1.236-3.223-.123-.303-.536-1.524.117-3.176 0 0 1.008-.323 3.3 1.232a11.52 11.52 0 013.003-.404c1.02.005 2.045.137 3.003.404 2.292-1.555 3.3-1.232 3.3-1.232.653 1.652.24 2.873.117 3.176.768.839 1.236 1.912 1.236 3.223 0 4.608-2.803 5.625-5.472 5.922.43.37.814 1.1.814 2.219v3.293c0 .319.192.692.798.576C20.565 22.796 24 18.299 24 13c0-6.627-5.373-12-12-12z"/>
                </svg>
            </a>
            <a href="https://www.linkedin.com/in/divyanshmalani/" target="_blank" aria-label="LinkedIn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                    <path d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-4 0v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"/>
                    <circle cx="4" cy="4" r="2"/>
                </svg>
            </a>
            <a href="https://divyanshmalani.com" target="_blank" aria-label="Website">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                    <circle cx="12" cy="12" r="10"/>
                    <path d="M2 12h20M12 2a15.3 15.3 0 010 20M12 2a15.3 15.3 0 000 20"/>
                </svg>
            </a>
        </div>
    </footer>
    
      
      
    
   
</body>
</html>